<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>strona główna do przerobienia</title>
    <meta name="description" content="opis">
    <meta name="keywords" content="keywords">
    <link rel="stylesheet" href="../s">
</head>
<body>
<header>
    <nav>
        <a href="/pracownicyList">Pokaż wszystkich</a>
        <a href="/pracownicy/add">Dodaj użytkownika do bazy</a>
    </nav>
</header>
<main>
    <article>
        <H1>O stronie</H1>
        <p>Strona z podstawowymi informacjami na temat technologi front-endu.</p>
    </article>
</main>
<footer>
</footer>
</body>
</html>