<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pracownicy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">
                <center>Dodaj nowy dzial</center>
            </h1>
        </div>
    </div>
</div>
<div class="nav">
    <ul>
        <li>
            <a href="/pracownicy/add">Dodaj pracownika</a>
        </li>
        <li>
            <a href="/pracownicyList">Pokaż pracowników</a>
        </li>
        <li>
            <a href="/sprzet/add">Dodaj sprzęt</a>
        </li>
        <li>
            <a href="/sprzetList">Pokaż sprzęt</a>
        </li>
        <li>
            <a href="/dzialy/add">Dodaj sprzęt</a>
        </li>
        <li>
            <a href="/dzialyList">Pokaż sprzęt</a>
        </li>
    </ul>
</div>
<div class="container">
<div class="row">
    <div class="col">
        <form role="form" th:object="${dzial}" th:action="@{/dzial/add}" method="post">
            <div class="form-group">
                <label for="nameDepartment">podaj dział</label>
                <input class="form-control" type="text" name="nameDepartment" id="nameDepartment">
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>