<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div class="menu-bar">
    <ul>
        <li><a href="#"><i class="fa fa-users"></i>Pracownicy</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="/pracownicy/add">Dodaj pracownika</a></li>
                    <li><a href="/pracownicyList">Pokaż pracowników</a></li>
                    <li><a href="/dzialy/add">Dodaj dzial</a></li>
                    <li><a href="/dzialList">Pokaż dzial</a></li>
                    <li><a href="/rola/add">Dodaj stanowisko</a></li>
                    <li><a href="/rolaList">Pokaż stanoiska</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#"><i class="fa fa-desktop"></i>Sprzęt</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="/sprzet/add">Dodaj sprzęt</a></li>
                    <li><a href="/sprzetList">Pokaż sprzęt</a></li>
                    <li><a href="/typ/add">Dodaj typ urządzenia</a></li>
                    <li><a href="/typList">Pokaż typy urządzeń</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#"><i class="fa fa-clone"></i>Wydanie sprzętu</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="/wydanieList">Pokaż wydanie</a></li>
                    <li><a href="/wydanie/add">Wydaj sprzęt</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<div class="container">
<div class="row">
    <div class="col">
        <form role="form" th:object="${typ}" th:action="@{/typ/add}" method="post">

            <div class="form-group">
                <label for="typUrzadzenia">Podaj typ urządzenia</label>
                <input class="form-control" type="text" name="typUrzadzenia" id="typUrzadzenia">
            </div>

            <div class="form-group">
                <br>
                <input type="submit" value="Dodaj typ urządzenia"/>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>