<!DOCTYPE html>
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div class="menu-bar">
    <ul>
        <li><a href="#"><i class="fa fa-users"></i>Pracownicy</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="/pracownicy/add">Dodaj pracownika</a></li>
                    <li><a href="/pracownicyList">Pokaż pracowników</a></li>
                    <li><a href="/dzialy/add">Dodaj dzial</a></li>
                    <li><a href="/dzialList">Pokaż dzial</a></li>
                    <li><a href="/rola/add">Dodaj stanowisko</a></li>
                    <li><a href="/rolaList">Pokaż stanoiska</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#"><i class="fa fa-desktop"></i>Sprzęt</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="/sprzet/add">Dodaj sprzęt</a></li>
                    <li><a href="/sprzetList">Pokaż sprzęt</a></li>
                    <li><a href="/typ/add">Dodaj typ urządzenia</a></li>
                    <li><a href="/typList">Pokaż typy urządzeń</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#"><i class="fa fa-clone"></i>Wydanie sprzętu</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="/wydanieList">Pokaż wydanie</a></li>
                    <li><a href="/wydanie/add">Wydaj sprzęt</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <form role="form" th:object="${pracownicy}" th:action="@{/pracownicy/add}" method="post">
                    <div class="form-group">
                        <label for="name">Podaj imie użytkownika</label>
                        <input class="form-control" type="text" name="name" id="name">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="lastName">Podaj Nazwisko użytkownika</label>
                        <input class="form-control" type="text" name="lastName" id="lastName">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="pracIdRole">Wybierz stanowisko pracownika</label>
                        <br>
                        <select class="wartosc" name="pracIdRole" id="pracIdRole">
                            <option th:each="rola : ${rolaList}"
                                    th:value="${rola.id}"
                                    th:text="${rola.role}"></option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="pracIdDepartment">Wybierz dział pracownika</label>
                        <br>
                        <select class="wartosc" name="pracIdDepartment" id="pracIdDepartment">


                            <option th:each="dzial : ${dzialList}"
                                    th:value="${dzial.id}"
                                    th:text="${dzial.nameDepartment}"></option>
                        </select>
                    </div>
            </table>
            <div class="form-group">
                <br>
                <input type="submit" value="Dodaj pracownika"/>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>