<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div class="menu-bar">
    <ul>
        <li><a href="#"><i class="fa fa-users"></i>Pracownicy</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="/pracownicy/add">Dodaj pracownika</a></li>
                    <li><a href="/pracownicyList">Pokaż pracowników</a></li>
                    <li><a href="/dzialy/add">Dodaj dzial</a></li>
                    <li><a href="/dzialList">Pokaż dzial</a></li>
                    <li><a href="/rola/add">Dodaj stanowisko</a></li>
                    <li><a href="/rolaList">Pokaż stanoiska</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#"><i class="fa fa-desktop"></i>Sprzęt</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="/sprzet/add">Dodaj sprzęt</a></li>
                    <li><a href="/sprzetList">Pokaż sprzęt</a></li>
                    <li><a href="/typ/add">Dodaj typ urządzenia</a></li>
                    <li><a href="/typList">Pokaż typy urządzeń</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#"><i class="fa fa-clone"></i>Wydanie sprzętu</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="/wydanieList">Pokaż wydanie</a></li>
                    <li><a href="/wydanie/add">Wydaj sprzęt</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <th scope="col">Imie Pracownika</th>
                <th scope="col">Nazwisko Pracownika</th>
                <th scope="col">Stanowisko Pracownika</th>
                <th scope="col">Dział Pracownika</th>
                <th scope="col">Data utworzenia</th>
                <th scope="col">Data zablokowania</th>
                <th scope="col">Pokaż sprzęt pracownika</th>
                <th scope="col">Zablokuj pracownika</th>
                </thead>
                <tr class="wartosc" th:each="pracownicy : ${pracownicyList}">
                    <td th:text="${pracownicy.name}"/>
                    <td th:text="${pracownicy.lastName}"/>
                    <td th:text="${pracownicy.rolaPracownika}"/>
                    <td th:text="${pracownicy.dzialPracownika}"/>
                    <td th:text="${pracownicy.createDate}"/>
                    <td th:text="${pracownicy.dataZablokowania}"/>
                    <td>
                        <input type="button" class="pokazSprzetUzytkownika" value="Pokaż sprzęt pracownika"/>
                        <input type="hidden" th:value="${pracownicy.id}">
                    </td>
                    <td>
                        <input type="button" class="zablokujPraconika" value="Zablokuj pracownika"/>
                        <input type="hidden" th:value="${pracownicy.id}">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>

<script src="webjars/jquery/3.5.0/jquery.min.js"></script>

<script type="application/javascript">
    $(".zablokujPraconika").click(function () {
        // pobrany button przez this/parent - elemtn nadrzedn - szukamy hidden
        var id = $(this).parent().find('input[type="hidden"]').val();
        $.post("/pracownicy/del/" + id)
            .done(function (result) {
                window.location.reload(true);
            })
            .fail(function () {
                alert("Coś poszło nie tak")
            })
    });

    $(".pokazSprzetUzytkownika").click(function(){
        var id = $(this).parent().find('input[type="hidden"]').val();
        $.post("/wydanieListSprzet/"+id)
            .done(function (result) {
                window.location = "/wydanieListSprzet";
            })
            .fail(function () {
                alert("Coś poszło nie tak")
            })
    });
</script>
</html>