<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wszyscy pracownicy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
<div class="container">
    <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4">
                <center>Lista pracowników</center>
            </h1>
        </div>
    </div>
</div>
<div class="nav">
    <ul>
        <li>
            <a href="/pracownicy/add">Dodaj pracownika</a>
        </li>
        <li>
            <a href="/pracownicyList">Pokaż pracowników</a>
        </li>
        <li>
            <a href="/sprzet/add">Dodaj sprzęt</a>
        </li>
        <li>
            <a href="/sprzetList">Pokaż sprzęt</a>
        </li>
        <li>
            <a href="/dzialy/add">Dodaj dzial</a>
        </li>
        <li>
            <a href="/dzialList">Pokaż dzial</a>
        </li>
    </ul>

</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
            <th class="name">
                Imie Pracownika
            </th>
            <th class="name">
                Nazwisko Pracownika
            </th>
            <th class="name">
                Rola Pracownika
            </th>
            <th class="name">
                Dział Pracownika
            </th>
            <th class="name">
                Data utworzenia
            </th>
            </thead>
            <tr class="wartosc" th:each="pracownicy : ${pracownicyList}">

                <td th:text="${pracownicy.name}"/>

                <td th:text="${pracownicy.lastName}"/>

                <td th:text="${pracownicy.rolaPracownika}"/>

                <td th:text="${pracownicy.dzialPracownika}"/>

                <td th:text="${pracownicy.createDate}"/>
            </tr>
        </table>
    </div>
</div>
</body>
</html>